## Node

# Lockfiles
yarn.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

## OS X

*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Development
.idea

